<h1>Outcomes</h1>

<div class="mt-2 outcome-subheader">
  <button class="btn-primary" routerLink="./account-detail">Add</button>
</div>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./outcome-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./outcome-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./outcome-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./outcome-detail'"></app-amount-panel>
