@import "../../../../styles.scss";

h1 {
    width: 100%;;
    border-bottom: 3px solid;
    border-color: $oxford-blue;
}

.outcome-subheader {
  display: flex;
  justify-content: right;
  width: 100%;
}