@import "../../../../styles.scss";
h1 {
  margin-bottom: 0px;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid;
  border-color: $oxford-blue;

}
