<nav class="navbar">
  <div class="logo">Money Forecast</div>
  <ul class="items" [class]="getMenuClasses()">
    <li class="item"><a routerLink="/forecast" (click)="toggleMenu()" routerLinkActive="active-link">Forecast</a></li>
    <li class="item"><a routerLink="/incomes" (click)="toggleMenu()" routerLinkActive="active-link">Incomes</a></li>
    <li class="item"><a routerLink="/outcomes" (click)="toggleMenu()" routerLinkActive="active-link">Outcomes</a></li>
  </ul>
  <div class="hamburger" [class]="getHamburgerClasses()" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
