<h1>Incomes</h1>

<div class="mt-2 income-subheader">
  <button class="btn-primary" routerLink="./income-detail">Add</button>
</div>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./income-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./income-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./income-detail'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'" [routerLink]="'./income-detail'"></app-amount-panel>
<app-amount-panel
  [title]="'Kaution rückgabe'"
  [amount]="'2550'"
  [routerLink]="'./income-detail'"
></app-amount-panel>
