<h1>Incomes</h1>

<div class="mt-2 income-subheader">
  <h2>Regular</h2>
  <button class="btn-primary" routerLink="./regular-income-detail">Add</button>
</div>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'"></app-amount-panel>
<app-amount-panel [title]="'Gehalt'" [amount]="'2430'"></app-amount-panel>
<div class="mt-2 income-subheader">
    <h2>Irregular</h2>
    <button class="btn-primary" routerLink="./regular-income-detail">Add</button>
  </div>
<app-amount-panel
  [title]="'Kaution rückgabe'"
  [amount]="'2550'"
></app-amount-panel>
