<div class="income-form mt-1">
  <form [formGroup]="incomeForm" *ngIf="incomeForm">
    <!--  Income name, amount and currency  -->
    <div class="amount-row">
      <span class="p-float-label">
        <input id="float-input" type="text" formControlName="name" pInputText />
        <label for="float-input">Name</label>
      </span>
      <div class="balance">
        <span class="p-float-label">
          <input id="float-input" type="text" formControlName="balance" pInputText />
          <label for="float-input">Amount</label>
        </span>
        <span class="p-float-label">
          <p-dropdown [options]="currencies" formControlName="currency" optionLabel="name" optionValue="code">
          </p-dropdown>
        </span>
      </div>
    </div>
    <!--  "Add periodity" - Button for adding periodity  -->
    <button class="btn-primary btn-add-periodity" routerLink="..">Add periodity</button>

    <!-- For for adding of a periodity -->
    <div class="budget-form">
      <form formGroupName="regularity" class="w-full">
        <ng-container formArrayName="timePoints">
          <div *ngFor="let timePoint of incomeForm.controls.regularity.controls.timePoints.controls; let i=index">
            <div [formGroupName]="i" class="time-period mt-1">
              <span class="p-float-label">
                <p-dropdown [autoWidth]="false" [options]="yearsOptions" (onChange)='onChangeMonth($event)'
                  class="p-dropdown-year" formControlName="year" optionLabel="name" optionValue="code">
                </p-dropdown>
              </span>
              <span class="p-float-label">
                <p-dropdown [autoWidth]="false" [options]="monthsOptions" (onChange)='onChangeMonth($event)'
                  class="p-dropdown-month" formControlName="month" optionLabel="name" optionValue="code">
                </p-dropdown>
              </span>
              <span class="p-float-label">
                <p-multiSelect [defaultLabel]="'Days'" [options]="daysOptions" formControlName="days" optionLabel="name"
                  selectedItemsLabel="{0} items" optionValue="code">
                </p-multiSelect>
              </span>
              <span class="p-float-label">
                <button *ngIf="i!=0" class="btn-secondary" routerLink="..">Remove</button>
                <button *ngIf="i==0" class="btn-secondary-disabled" routerLink="..">Remove</button>
              </span>
            </div>
          </div>
        </ng-container>

      </form>
    </div>
  </form>
</div>
<div class="btn-footer">
  <button class="btn-secondary mt-1" routerLink="..">Cancel</button>
  <button class="btn-primary mt-1" (click)="saveIncome()" routerLink="..">
    Save
  </button>
</div>