<div class="income-form mt-1">
  <form [formGroup]="incomeOutcomeForm" *ngIf="incomeOutcomeForm">
    <!--  Income name, amount and currency  -->
    <div class="amount-row">
      <span class="p-float-label">
        <input id="amount-name" type="text" maxlength="20" formControlName="name" pInputText />
        <label for="amount-name">Name</label>
      </span>
      <div class="balance">
        <span class="p-float-label">
          <p-inputNumber id="amount" formControlName="balance"></p-inputNumber>
          <label for="amount">Amount</label>
        </span>
        <span class="p-float-label">
          <p-dropdown [options]="currencies" formControlName="currency" optionLabel="name" optionValue="code">
          </p-dropdown>
        </span>
      </div>
    </div>
    <!--  "Add periodity" - Button for adding periodity  -->
    <button class="btn-primary btn-add-periodity" (click)="addPeriodity()">Add periodity</button>

    <!-- For for adding of a periodity -->
    <div class="budget-form">
      <form formGroupName="regularity" class="w-full">
        <ng-container formArrayName="timePoints">
          <div *ngFor="let timePoint of incomeOutcomeForm.controls.regularity.controls.timePoints.controls; let i=index">
            <div [formGroupName]="i" class="time-period mt-1">
              <span class="p-float-label">
                <p-dropdown [autoWidth]="false" [options]="yearsOptions" (onChange)='onChangeYearOnMonth($event, i)'
                  class="p-dropdown-year" formControlName="year" optionLabel="name" optionValue="code">
                </p-dropdown>
              </span>
              <span class="p-float-label">
                <p-dropdown [autoWidth]="false" [options]="monthsOptions" (onChange)='onChangeYearOnMonth($event, i)'
                  class="p-dropdown-month" formControlName="month" optionLabel="name" optionValue="code">
                </p-dropdown>
              </span>
              <span class="p-float-label">
                <p-multiSelect [defaultLabel]="'Days'" [options]="daysOptions[i]" formControlName="days" optionLabel="name"
                  selectedItemsLabel="{0} items" optionValue="code">
                </p-multiSelect>
              </span>
              <span class="p-float-label">
                <button *ngIf="incomeOutcomeForm.controls.regularity.controls.timePoints.controls.length > 0" class="btn-secondary" (click)="removePeriodity(i)">Remove</button>
                <button *ngIf="incomeOutcomeForm.controls.regularity.controls.timePoints.controls.length == 0" class="btn-secondary-disabled">Remove</button>
              </span>
            </div>
          </div>
        </ng-container>

      </form>
    </div>
  </form>
</div>
<div class="btn-footer">
  <button class="btn-secondary mt-1" routerLink="..">Cancel</button>
  <button class="btn-primary mt-1" (click)="save()">
    Save
  </button>
</div>