<div class="new-forecast-header">
  <h1>New forecast</h1>
  <button class="btn-primary" routerLink="..">Start</button>
</div>
<p>Start a new forecast. Set up your current budget and see the prediction!</p>
<div class="accounts-header">
  <h2>Accounts</h2>
  <button class="btn-primary" routerLink="./account-detail">Add account</button>
</div>
<div class="budget">
    <app-amount-panel></app-amount-panel>
    <app-amount-panel></app-amount-panel>
    <app-amount-panel></app-amount-panel>
</div>
<button class="btn-secondary mt-1" routerLink="..">Cancel</button>
