@import "../../../../styles.scss";
@import '~primeicons/primeicons.css';

h1, h2 {
  margin-bottom: 0px;
}

h1,
h2,
p {
  color: $oxford-blue;
  font-family: "Open Sans", sans-serif;
}

.budget-input input {
  color: $oxford-blue;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}


.new-forecast-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid;
    border-color: $oxford-blue;
  
  }

  
.accounts-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    
  
  }

