@import "../../../../styles.scss";


.budget {
  display: flex;
  justify-content: center;
}

.budget-form {
  display: flex;
  @media screen and (max-width: $screen-lg-min) {
    flex-direction: column;
  }
  span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
  }

  input {
    width: 100%;
  }
  
}

.p-dropdown.p-component {
  width: 100% !important;;
}

.btn-add-periodity {
  margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
    width: 100% !important;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: $screen-lg-min) {
    margin-top: 0.5rem;
  }
}

.time-period {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid;
    border-color: $oxford-blue;
  
  }

  .btn-footer {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  .time-period-line {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }


  .budget-cancel-btn {
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: grey;
    width: 10rem;
    height: 2.2rem;
    margin-top: 2rem;
    border-radius: 7px;


  }

  .budget-cancel-btn:hover {
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    opacity: 0.5;
    background-color: grey;
    width: 10rem;
    height: 2.2rem;
    margin-top: 2rem;
    border-radius: 7px;

  }

  .budget-ok-btn:focus {
    outline: 0;
  }
  

