<div class="content-header">
  <h1>Regular income detail</h1>
</div>
<div class="budget mt-1">
  <form [formGroup]="accountForm" *ngIf="accountForm">
    <div class="budget-form">
      <span class="p-float-label">
        <input id="float-input" type="text" formControlName="name" pInputText />
        <label for="float-input">Income name</label>
      </span>
      <div class="account-balance">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="balance"
            pInputText
          />
          <label for="float-input">Income amount</label>
        </span>
        <span class="p-float-label">
          <p-dropdown
            [options]="currencies"
            formControlName="currency"
            optionLabel="name"
            optionValue="code"
          ></p-dropdown>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="btn-footer">
  <button class="btn-secondary mt-1" routerLink="..">Cancel</button>
  <button class="btn-primary mt-1" (click)="saveAccount()" routerLink="..">
    Save
  </button>
</div>
