@import "../../../../styles.scss";


.income-form {
  display: flex;
  justify-content: center;
}

.amount-row {
  display: flex;
  @media screen and (max-width: $screen-lg-min) {
    flex-direction: column;
  }
  span {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 1.5rem;
  }
  input {
    width: 100%;
  }
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: $screen-lg-min) {
    margin-top: 0.5rem;
  }
}

.btn-add-periodity {
  margin-top: 1.5rem;
  width: 100% !important;
}

.time-period {
  width: 100%;
  display: flex;
  span {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  justify-content: space-between;
}

.btn-footer {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.budget-cancel-btn {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: grey;
  width: 10rem;
  height: 2.2rem;
  margin-top: 2rem;
  border-radius: 7px;
}

.budget-cancel-btn:hover {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  background-color: grey;
  width: 10rem;
  height: 2.2rem;
  margin-top: 2rem;
  border-radius: 7px;
}

.budget-ok-btn:focus {
  outline: 0;
}

:host ::ng-deep .p-multiselect {
  min-width: 7rem;
  max-width: 7rem;
}


:host ::ng-deep .p-multiselect-label {
  text-overflow: inherit !important;
  overflow: visible !important;

}
:host ::ng-deep .p-dropdown-year  {
  .p-dropdown {
    min-width: 4rem;
    max-width: 4rem;
  }
}

:host ::ng-deep .p-dropdown-month {
  .p-dropdown { 
    min-width: 6rem;
    max-width: 6rem;
  }
}

:host ::ng-deep .p-dropdown-label {
  text-overflow: inherit !important;
  overflow: visible !important;

}

