@import "../../../../styles.scss";


  .main {
      display: flex;
      align-items: center;
  }

  .amount-info {
        max-width: 60%;
  }

  .panel {
      width: 100%;
      cursor: pointer;
      background-color: $mindaro;
      margin-top: 1rem;
      margin-bottom: 0rem;
      border-radius: 7px;
      box-shadow: 10px 10px 22px -12px rgba(0,0,0,0.48);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    
    
      .main {
          display: flex;
          justify-content: space-between;
          margin:1rem 2rem 1rem 2rem;

            .item {
                margin-left: 2rem;
                margin-right: 1rem;
            }
          
      }
      .description {
          font-size: 0.8rem;
      }
  }

  .panel:focus {
    outline: 0;
  }

  @media screen and (max-width: $screen-lg-min) {
    .title {
        font-size: 1em;
    }
    
  }